

.CalendarDay__selected_span {
  background: rgba(128, 128, 128, 0.103); 
  color: gray;
  border: none;
  outline:none; 
  
}
 
/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: gray;
  color: white;
  border:none;
  border-radius: 50%;
}
/*  
// Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  
  color: white;
  border-radius: 50%;
  outline:none;
  border:none;

}
/*  
// Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: rgba(128, 128, 128, 0.329);
  padding:1px;
  /* border-radius: 50%;; */
  border:none;
}